# ========================================================
# ARCHIVOS Y CARPETAS EXCLUIDOS (No se subirán a GitHub)
# ========================================================
Untitled0*
The_Good_Doctor_IA_DeepLearning_v1*
The_Good_Doctor_IA_DeepLearning_v2*
Good_Doctor_Clinico_Multiclase*

# Exclusión de temporales de Colab
.ipynb_checkpoints/
__pycache__/
